[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "restatapi"]
	path = restatapi
	url = https://github.com/eurostat/restatapi
	shallow = true
	registered = true
[submodule "correspondenceTables"]
	path = correspondenceTables
	url = https://github.com/eurostat/correspondencetables
	shallow = true
	registered = true
